/*リセットCSS*/
*{
    margin: 0;
    padding:0; 
    font-family: 'Noto Sans JP';
    list-style: none;
}
/*文字サイズ指定*/
html { 
  font-size: 62.5%; 
}
h2{
  font-size: 4rem;
  font-weight: bold;
}
h3{
  font-size: 2.4rem;
  font-weight:bold;
}


/*header*/
header{
  height:13vh;
  width:100vw;
  line-height: 12vh;
  background-color:rgba(255, 255, 255, 0.8);
  position: fixed;
  top:0;
  z-index: 8;
}
header ul{
  background-color: rgba(255, 255, 255, 0.8);
  width:65%;
  height: 100%;
  padding-left: 30%;
  display:flex;
  justify-content: space-between;
  
}

ul a{
  font-size: 2.2rem;
  font-weight: bold;
  color: #000000;
  text-decoration:none; 
  position: relative;
  display: inline-block;
}
ul a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 0.1rem;
  background:#ff7950;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
ul a:hover::after {
  bottom: 1rem;
  opacity: 1;
  visibility: visible;
}
/*ファーストビュー*/
.top {
  position:relative;
  background-color:#fffef9;
  
  height:130vh;
}

.firstview_main_image{
  position:absolute;
  width:60%;
  top:15%;
  left:40%;
}


.four_triangle_image{
  position:absolute;
  width:30%;
  top:55%;
  left:40%;
}
.top h1 {
  position:absolute;
  left:7.6%;
  top:40%;
  font-size: 9.6rem; 
  font-weight: bold;
}
.top p{
  position:absolute;
  left:7.6%;
  top:70%;
  font-size: 2rem; 
  font-weight: bold;
  z-index: 1;  
  line-height: 1.5;
}



/*aboutのセクション*/
.about{
  background-color: #ffffff;
 
  height:130vh;

}
.profile{
  margin-left:10%;
  margin-right:6%;
  margin-top:10%;
  margin-bottom: 10%;
  display:flex;
  justify-content: space-between;
  
}
.profile_text{
  display:block;
  width:40%;
  padding-top:10%;
  margin-right:5%;
  
}
.profile_text h2{
  width:70%;
  font-size: 4rem;
  font-weight: bold;
  margin:0 auto;
  text-align: center;
  border-bottom: solid 0.3rem #000000;
  border-top: solid 0.3rem #000000;
  
}
.profile_text p{
  margin-top:20%;
  font-size:2rem;
  width:100%;
  line-height:2;
  
}
.fadein{
  width:60%;
  height:100vh;
  margin-top:-5%;
  position:relative;
  opacity: 0;
  transform: translateY(20px);
  transition: all 2s;
}
.fadein img{
  width: 100%;
  position:absolute;
  left:0;
  top:0;


}
.fadein p{
  font-size: 6.4rem;
  font-weight: bold;
  color: #DB2B1A;
  position:absolute;
  z-index:7;
  text-align: center;
  left:25%;
  top:40%;
 
}
/*スクロールでフワっと表示*/
.fadein{
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
  
  


/*TEDxTalkのセクション*/
.tedxtalk{
  padding-top:10%;
  padding-bottom: 10%;
  height: 130vh;
  background-color:#fffef9;
}


.tedxtalk_content h2{
  margin:0 auto;
  width:40%; 
  margin-bottom:8%;
  text-align: center;
  border-bottom: solid 0.3rem #000000;
  border-top: solid 0.3rem #000000;
}

.tedxtalk_content p{
  font-size: 2rem;
  line-height:2;
  margin:0 auto;
  width:50%;

} 
.tedxtalk h3{
  text-align: center;
  padding-top:5%;
  padding-bottom: 5%;
}

.targets{
  width:85%;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
}
.target{
  width:28%;
  height: 60%;
  border: 0.3rem solid #DB2B1A;
  text-align:center;
  overflow: hidden;
  
}
.target p{
  font-size: 2rem;
  text-align: center;
  margin-bottom:5%;
}
.target img{
  object-fit: cover;
  width: 90%;
  height:60%;
}

/*eventのセクション*/
.event{
  padding-top:10%;
  padding-bottom: 15%;
  height: 130vh;
}
.event h2{
  margin:0 auto;
  width:40%; 
  text-align: center;
  border-bottom: solid 0.3rem #000000;
  border-top: solid 0.3rem #000000;
}
.event_video{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  height:100%;
  margin-right:8%;
  margin-left: 10%;
  margin-top:5%;
}
.video_content{
  width: 60%;
  padding-right:5%;
  position:relative;  
}
.video_contents{
  padding-right: 5%;
  padding-left: 3%;
}
.movie_decoration_1 img{
  width:300px;
  position:absolute;
  left:55%;
  top:-36%;
  z-index:-1;
}
.movie_decoration_2 img{
  width:330px;
  position: absolute;
  left:-10%;
  top:76%;
  z-index:-1;
}





.event_contents{
  display:block;
  width:50%;
  height:80%;
  margin-left:-5%;
  
}
.event_content{
  width:100%;
}
.event_content h3{
  font-size:2.4rem;
  line-height: 1.8;
  text-align: center;
  margin-top:10%;
  margin-bottom: 2%;
}
.event_content p{
  font-size: 2rem;
  line-height: 2;
  width:70%;
  margin: 0 auto;
  
}
/*楽しみ方のセクション*/
.howtoenjoy{
  padding-top:10%;
  padding-bottom: 10%;
  height:130vh;
  background-color:#fffef9;
}
.howtoenjoy h2{
  margin:0 auto;
  width:40%; 
  text-align: center;
  border-bottom: solid 0.3rem #000000;
  border-top: solid 0.3rem #000000;
}
.howtoenjoy_contents{
  display:flex;
  justify-content: space-between;
  margin-left:8%;
  margin-right:8%;
  margin-top:10%;
}
.howtoenjoy_content{
  width:40%;
  height:70%; 
  text-align: center;
}
.howtoenjoy_content h3{
  font-size: 2.4rem;
  text-align: center;
  padding-bottom:6%;
  
}
.howtoenjoy_content p{
  width:90%; 
  font-size: 2rem;
  line-height: 1.5;
  text-align:start;
  
  margin:0 auto;
  line-height: 2;
}
.howtoenjoy_content img{
  object-fit: contain;
  height: 50%;
  margin-top: 10%;

  
}

/*ボタンのホバー*/
.btn_flat{
  display:inline-block;
  width:60%;
  padding:1rem 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  color:#ff7950;
  border: solid 0.2rem #ff7950;
  border-radius: 1rem;
  transition: .4s;
  margin-top:10%;
  margin-bottom: 5%;
}
.btn_flat:hover{
  background:#ff7950;
  color:#ffffff;
}
/*footer*/
footer{
  height:10vh;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 10vh;
}








